@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<TBD_Ticket_Project.Models.Post>

<div class="jumbotron">
    <h1>Ticket Controller Super Tool</h1>
</div>

<section class="row">
    @foreach (var item in Model)
    {
        <article class="col-md-4">
            <h2>
                <a href="/Posts/Details/@item.Id">@TBD_Ticket_Project.Classes.Utils.CutText(item.Title, 40)</a>
            </h2>
            <div>
                Created on <i>@item.Date</i>
                by
                @if (@item.Author != null)
                {
                    <i>@item.Author.LastName (@item.Author.UserName)</i>
                }
                else
                {
                    <i>No Author</i>
                }
            </div>
            <p>
                @TBD_Ticket_Project.Classes.Utils.CutText(item.Body) 
            </p>
        </article>
    }

</section>